html {
  background: linear-gradient(to right, lightgrey, white);
}
.container {
  text-align: center;
  text-transform: uppercase;
}

[data-testid='slackDisplayImage'] {
  border-radius: 20px;
  width: 200px;
  height: 300px;
}
